@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .small {
    position: absolute;
    top: 145px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #37475a;
    padding: 2px 8px 2px 20px;
  }

  .big {
    position: static;
    display: flex;
    flex-direction: column;
    width: 8vw;
    background-color: #131a22;
  }
}
