@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .small {
    position: absolute;
    top: 164px;
    left: 0px;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #37475a;
    padding: 2px 8px 2px 20px;
  }

  .big {
    position: static;
    display: flex;
    flex-direction: column;
    width: 8vw;
    background-color: #131a22;
  }

  .smallBtn {
    padding: 10px;
    border: none;
    background-color: #febd69;
    color: black;
    border-radius: 10px;
  }

  .homeImage__1 {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}
